{% extends 'page.html.twig' %}

{# {% block breadcrumbsTitle %}About Us{% endblock %}#}

{# {% block breadcrumbsLinks %}#}
{#             <li><a href="{{ path('room_booking_engine_homepage') }}">Home</a></li>#}
{#             <li><a href="{{ path('room_site_management_about_us') }}">About Us</a></li>#}
{# {% endblock %}#}

{% block body %}

 <!-- Start Contact-Form -->
  <div class="container">
    <div class="contact-box">
     {{ form_start(form) }}
      <form action="#" class="contact-form default-form">
        <div class="row">
          <div class="col-md-12">
            <div class="preamble col-md-12">
              <h3>GET IN TOUCH</h3>
            </div>
           
          </div>
          <div class="col-md-6">
           	{{ form_widget(form.name) }}
          </div>
          <div class="col-md-6">
          {{ form_widget(form.mobile) }}
           
          </div>
          <div class="col-md-6">
          {{ form_widget(form.email) }}
           
          </div>
          <div class="col-md-6">
          {{ form_widget(form.subject) }}
           
          </div>
          <div class="col-md-12">
          {{ form_widget(form.message) }}
           
          </div>
          <div class="col-lg-md text-center">
            <button class="btn btn-transparent-white">Send Message</button>
          </div>
        </div>
      {{ form_end(form) }}
    </div>
  </div>
  <!-- End Contact-Form -->
  
  <!-- Start Contact-Map  -->
  <div id="contact-map">
  </div>
  <!-- End Contact-Map -->

  <!-- Start Contact -->
  <section class="contact">
    <div class="container">
      <div class="locations">
 
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="offices">
            <h3 class="title">
              Corporate Office
            </h3>
            {#}<h5 class="sub-title">Office</h5>{#}
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <ul class="location-details custom-list">
                  <li>Penthouse Suite' 139 Infantry Road.</li>    
                  <li>(Opp. The Hindu),  </li>
                  <li>Bangalore 560 001,India </li>
				  <li>Tel: +91 80 2286 8093 / 94 / 95. </li>
				  <li>Fax: +91 80 4123 9655. </li>
				   <li>Corporate Email : info@sterlingsuites.in </li>
				   <li>Website : www.sterlingsuites.in </li>
				  
                </ul>
              </div>
              
              
              
              <div class="col-lg-6 col-md-6">
                <ul class="location-details custom-list">
               <h5 class="sub-title">  <li>Mr. Roland Southwell</li> </h5>
                  <li>Central Reservation</li>
				   <li>Mobile : + 91 9900032872 / 73</li>
				    <li>Email: reservation@sterlingsuites.in</li>
                </ul>
              </div>
       
      		</div>
          </div>
        </div>
        
        <div class="col-lg-6 col-md-6 col-sm-6 contactremovespace">
          <div class="offices">
           
            {#}<h5 class="sub-title">Office</h5>{#}
            <div class="row">
             </br> </br> </br>
            <div class="col-lg-6 col-md-6">
                <ul class="location-details custom-list">
                 <h5 class="sub-title">  <li>Mr. Nelson  </li> </h5>
                  <li>General Manager- Sales</li>
                  <li>Mobile: + 91 8892007790 </li>
				  <li>Email: sales@sterlingsuites.in </li>
                </ul>
              </div>
           
              <div class="col-lg-6 col-md-6">
                <ul class="location-details custom-list">
                <h5 class="sub-title">   <li>For long term enquires:</li> </h5>
                  <li>Ms. Tahseen Zaffar</li>
				  <li>Director</li>
				  <li>Mobile : + 91 98801 12360</li>
                  <li>Email: tahseen@sterlingsuites.in</li>
                </ul>
              </div>
      		</div>
          </div>
        </div>
      
   </div>
    </div>
  </section>
  <!-- End Contact -->

{% endblock %}